
#newBatchPanel(hidden).panel
	h1 Enter Batch Details
	hr

	#innerWrap
		img(src="/imgs/smartpanel.png" id="product" style="float:left;margin-right: 60px; border-radius: 30px; width: 38%;")

		form(action="/newBatch" method="POST")#newBatchform
			//legend
			//	input(type="text" name="BatchId" placeholder="Batch Id" disabled)
			br

			legend
				select#select(name="Type")
					option(value=1) Electric Smart Panel
					option(value=2) PowerTag
					option(value=3) Triphase kWh meter
					option(value=4) Wiser Energy Counter
				span.hint
			//legend
			//	input(type="text" name="Date" placeholder="Date" disabled)
			legend
				input(type="text" name="Location" placeholder="Location" value="Schneider Eybens Center" disabled )
			legend
				input(type="number" name="Quantity" placeholder="Items Quantity" min="1" value="10")

			//legend
			//	button(type="button" style="margin:10px 10px 5px 10px")#generate
			//		span.fa.fa-cog &nbsp;&nbsp;
			//		span GENERATE

			legend
				button(type="button" style="margin:10px 10px 5px 10px")#submit
					span.fa.fa-plus &nbsp;&nbsp;
					span SUBMIT
